
		%li{"data-anchor" => "efc"}
			%a.link_anchor{:href => "#project_efc", :title => "Egg Farmers", "data-scroll" => true}
				%span Egg Farmers
		%li{"data-anchor" => "bryston"}
			%a.link_anchor{:href => "#project_bryston", :title => "Bryston", "data-scroll" => true}
				%span Bryston
		%li{"data-anchor" => "artscourt"}
			%a.link_anchor{:href => "#project_artscourt", :title => "Arts Court", "data-scroll" => true}
				%span Arts Court



%section#project_efc.project_efc.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://www.eggfarmers.ca/", :title => "Egg Farmers of Canada", :target => "_blank"}
			%svg.logo_efc{:viewBox => "0 0 280 417"}
				%use{"xlink:href" => "#logo_efc"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://www.eggfarmers.ca/", :title => "Egg Farmers of Canada", :target => "_blank"} Egg Farmers of Canada

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project



%section#project_bryston.project_bryston.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://dulmage.me/sites/bryston", :title => "BDP Beta", :target => "_blank"}
			%svg.logo_bryston{:viewBox => "0 0 280 128"}
				%use{"xlink:href" => "#logo_bryston"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://dulmage.me/sites/bryston", :title => "BDP Beta", :target => "_blank"} Bryston Limited

			%h3 Designer
			%h4
				%a{:href => "https://dribbble.com/mandira", :title => "Mandira Midha", :target => "_blank"} Mandira Midha

		.project_overlay
			%h5 View Project



%section#project_artscourt.project_artscourt.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://artscourt.ca/", :title => "Arts Court Theatre", :target => "_blank"}
			%svg.logo_artscourt{:viewBox => "0 0 280 255"}
				%use{"xlink:href" => "#logo_artscourt"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://artscourt.ca/", :title => "Arts Court Theatre", :target => "_blank"} Arts Court Theatre

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

			%h3 Ecommerce Development
			%h4
				%a{:href => "http://aaronpepper.com/", :title => "Aaron Pepper", :target => "_blank"} Aaron Pepper

		.project_overlay
			%h5 View Project