@import 'utilities/shared/functions';

.Fringe {
  background-image: asset-url('bg-fringe.png');

  .ProjectLogo {
    width: 20rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 26rem;
    }
  }
}
