@import 'utilities/shared/layout';
@import 'keyframes';
@import 'props';

.Notification {
  @include centered-width(get-layout-length());
  position: fixed;
  z-index: get-z-index(outerspace);
  right: get-spacing(tighter);
  bottom: get-spacing(tighter);
  left: get-spacing(tighter);
  display: block;
  border-radius: get-radius(loose);
  text-align: left;
  box-shadow: get-shadow();
  background-color: var(--dulmage-color);
  overflow: hidden;
  animation: notification-enter get-duration(slow) get-easing(bungie) both;

  &::before {
    content: '';
    @include position-cover;
    border-radius: get-radius(loose);
    background-color: get-color(notification);
    pointer-events: none;
    opacity: 0;
    transition: opacity get-duration() get-easing();
  }

  &:focus {
    // reapply style because of reset
    box-shadow: get-shadow();
  }

  &:focus,
  &:hover {
    &::before {
      opacity: 0.1;
    }
  }

  &:active {
    &::before {
      opacity: 0;
    }
  }
}

.NotificationInterior {
  display: flex;
  align-items: center;
  padding: get-spacing(tighter);
}

.NotificationIcon {
  flex: 0 0 auto;
  width: $notification-icon-size;
  margin-right: get-spacing(tighter);
}

.NotificationMessage {
  flex: 1 1 auto;
  font-size: get-type-scale(paragraph);
  font-weight: 600;
  line-height: 1.3;
  color: white;
  user-select: none;
  // Reset the cursor set for typography
  cursor: get-cursor(pointer);
}
