!!!
/[if IE 9] <html class="ie9" lang="en" data-ready="waiting">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-ready" => "waiting"}<>
	<!--<![endif]-->

	%head

		%meta{:charset => "utf-8"}
		%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

		%title curtis dulmage | error 404

		%meta{:name => "description", :content => "you have encountered a catastrophic error. please evacuate the internet. thank you."}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui"}

		%link{:rel => "stylesheet", :href => "assets/css/styles.min.css?v=2"}

		%script
			= Haml::Engine.new(File.read("dev/haml/partials/_js_fonts.haml")).render

	%body.error_404

		%main{:role => "main"}

			%section#error.error
				%article.error
					.project_content
						%h1 error 404
						%h2
							nope. nothing here.
							%a{:href => "http://dulmage.me/", :title => "return home"} return home.

		= Haml::Engine.new(File.read("dev/haml/partials/_js_analytics.haml")).render