%head

	%meta{:charset => 'utf-8'}
	%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}

	%title Gulp Config

	%meta{:name => 'description', :content => 'My personal Gulp.js boilerplate'}
	%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}

	%meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
	%meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}
	%meta{:name => 'format-detection', :content => 'telephone=no'}

	-# %meta{:name => 'application-name', :content => 'dulmage'}
	-# %meta{:name => 'msapplication-TileColor', :content => '#000'}
	-# %meta{:name => 'msapplication-TileImage', :content => 'assets/media/images/win8-tile-icon.png'}

	%link{:rel => 'stylesheet', :href => 'assets/styles.css'}

	-# = Haml::Engine.new(File.read('dev/haml/_webfonts.html.haml')).render