%nav

	%a.nav_toggle{:href => '#', :title => 'Toggle Navigation'}
		.line.one
		.line.two
		.line.three

	%ul.clearfix

		-# {' , 'data-scroll' => '', 'data-options' => '{"speed": 400, "easing": "easeInOutCubic", "updateURL": false}'

		%li.link_dulmage
			%a.link_anchor{:href => '#intro_dulmage', :title => 'Hello'}
				%span Hello

		%li.link_preserve
			%a.link_anchor{:href => '#project_preserve', :title => 'Preserve.'}
				%span Preserve.

		%li.link_bmc
			%a.link_anchor{:href => '#project_bmc', :title => 'Body. Mind. Change.'}
				%span Body. Mind. Change.

		%li.link_fringe
			%a.link_anchor{:href => '#project_fringe', :title => 'Ottawa Fringe'}
				%span Ottawa Fringe

		%li.link_na2014
			%a.link_anchor{:href => '#project_na2014', :title => 'NA 2014'}
				%span NA 2014

		%li.link_artscourt
			%a.link_anchor{:href => '#project_artscourt', :title => 'Arts Court'}
				%span Arts Court

		%li.link_na2012
			%a.link_anchor{:href => '#project_na2012', :title => 'NA 2012'}
				%span NA 2012

		%li.link_pukeko
			%a.link_anchor{:href => '#project_pukeko', :title => 'Pukeko'}
				%span Pukeko

		%li.link_chicken
			%a.link_anchor{:href => '#project_chicken', :title => 'Chicken.ca'}
				%span Chicken.ca

		%li.link_cfc
			%a.link_anchor{:href => '#project_cfc', :title => 'Chicken Farmers'}
				%span Chicken Farmers

		%li.link_bryston
			%a.link_anchor{:href => '#project_bryston', :title => 'Bryston'}
				%span Bryston