%section#intro_dulmage.intro_dulmage

	%article.intro

		.project_content

			%h1 Dulmage
			%h2 Web Developer

			%p.visuallyhidden Curtis Dulmage. Front-end web developer. Ottawa, Canada. Here are a few of my most recent projects. Please get in touch if you have any questions. Thank you.

		%a#contact.contact{:href => '#', :title => 'Mail Me'}
			%svg#mail.svg_mail{:version => '1.1', :xmlns => 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', :x => '0px', :y => '0px', :viewBox => '20 38.5 44 39', 'enable-background' => 'new 20 38.5 44 39', 'xml:space' => 'preserve'}
				%polyline.path_inside{:fill => 'none', :stroke => '#fff', 'stroke-width' => '1.8', 'stroke-linecap' => 'round', 'stroke-linejoin' => 'round', 'stroke-miterlimit' => '10', :points => ' 41.5,65.5 62.7,40.2 35,61.2 '}
				%polygon.path_outside{:fill => 'none', :stroke => '#fff', 'stroke-width' => '1.8', 'stroke-miterlimit' => '10', :points => '34.9,61.2 34.9,73.3 41.5,65.5 52.5,75.7 62.7,40.2 22.4,56.7 '}
			%p.mailme
				Mail Me
		-# for whatever reason...  using 'svg use' would not work with the animation in chrome... no idea why

		-# .loading-icon
			-# %svg.svg_loader
				-# %use{'xlink:href' => '#loader'}

%section#project_preserve.project_preserve

	%article.project

		%a.project_logo{:href => 'http://preserve.northernarmy.com', :target => '_blank', :title => 'Preserve.'}

			%svg.svg_preserve
				%use{'xlink:href' => '#preserve'}

		.project_content

			%h3 Inhouse Project
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_bmc.project_bmc

	%article.project

		%a.project_logo{:href => 'http://bodymindchange.ca', :target => '_blank', :title => 'Body. Mind. Change.'}

			%svg.svg_bmc
				%use{'xlink:href' => '#bmc'}

		.project_content

			%h3 Client
			%h4 TIFF / CFC Media Lab / David Cronenberg

			%h3 Agency
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_fringe.project_fringe

	%article.project

		%a.project_logo{:href => 'http://ottawafringe.com', :target => '_blank', :title => 'Ottawa Fringe Festival'}

			%svg.svg_fringe
				%use{'xlink:href' => '#fringe'}

		.project_content

			%h3 Client
			%h4 Ottawa Fringe Festival

			%h3 Agency
			%h4 Northern Army

			%h3 Ecommerce Development
			%h4 James Beninger

		.project_overlay
			%h5 View Project

%section#project_na2014.project_na2014

	%article.project

		%a.project_logo{:href => 'http://northernarmy.com', :target => '_blank', :title => 'Northern Army 2014'}

			%svg.svg_na2014
				%use{'xlink:href' => '#na'}

		.project_content

			%h3 Inhouse Project
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_artscourt.project_artscourt

	%article.project

		%a.project_logo{:href => 'http://artscourt.ca', :target => '_blank', :title => 'Arts Court Theatre'}

			%svg.svg_na
				%use{'xlink:href' => '#artscourt'}

		.project_content

			%h3 Client
			%h4 Arts Court Theatre

			%h3 Agency
			%h4 Northern Army

			%h3 Ecommerce Development
			%h4 Aaron Pepper

		.project_overlay
			%h5 View Project

%section#project_na2012.project_na2012

	%article.project

		%a.project_logo{:href => 'http://na-2012.armystage.com', :target => '_blank', :title => 'Northern Army 2012'}

			%svg.svg_na2012
				%use{'xlink:href' => '#na'}

		.project_content

			%h3 Inhouse Project
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_pukeko.project_pukeko

	%article.project

		%a.project_logo{:href => 'http://pukekodesign.ca', :target => '_blank', :title => 'Pukeko Design'}

			%svg.svg_pukeko
				%use{'xlink:href' => '#pukeko'}

		.project_content

			%h3 Client
			%h4 Pukeko Design

			%h3 Agency
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_chicken.project_chicken

	%article.project

		%a.project_logo{:href => 'http://chicken.ca', :target => '_blank', :title => 'Chicken.ca'}

			%svg.svg_chicken
				%use{'xlink:href' => '#chicken'}

		.project_content

			%h3 Client
			%h4 chicken.ca

			%h3 Agency
			%h4 Northern Army

			%h3 Backend Development
			%h4 Theory Tank

		.project_overlay
			%h5 View Project

%section#project_cfc.project_cfc

	%article.project

		%a.project_logo{:href => 'http://chickenfarmers.ca', :target => '_blank', :title => 'Chicken Farmers of Canada'}

			%svg.svg_cfc
				%use{'xlink:href' => '#chicken'}

		.project_content

			%h3 Client
			%h4 Chicken Farmers of Canada

			%h3 Agency
			%h4 Northern Army

		.project_overlay
			%h5 View Project

%section#project_bryston.project_bryston

	%article.project

		%a.project_logo{:href => 'http://bryston.curtisdulmage.com', :target => '_blank', :title => 'BDP Beta'}

			%svg.svg_bryston
				%use{'xlink:href' => '#bryston'}

		.project_content

			%h3 Client
			%h4 Bryston Limited

			%h3 Designer
			%h4 Mandira Midha

		.project_overlay
			%h5 View Project