.stats

	%h2.height
		Height:
		%span -

	%h2.percent
		Percent:
		%span -

	%h2.scroll
		Scroll:
		%span -

	%h2.section_prev
		Prev Section:
		%span -

	%h2.section_current
		Current Section:
		%span -

	%h2.section_next
		Next Section:
		%span -

	%h2.updateR
		updateR:
		%span -

	%h2.updateG
		updateG:
		%span -

	%h2.updateB
		updateB:
		%span -