.stats

	%h6.height
		Height:
		%span -

	%h6.percent
		Percent:
		%span -

	%h6.scroll
		Scroll:
		%span -

	%h6.section_prev
		Prev Section:
		%span -

	%h6.section_current
		Current Section:
		%span -

	%h6.section_next
		Next Section:
		%span -

	%h6.updateR
		updateR:
		%span -

	%h6.updateG
		updateG:
		%span -

	%h6.updateB
		updateB:
		%span -