!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body.loading

		= Haml::Engine.new(File.read("dev/haml/partials/_html_nav.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_html_sections.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render