!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/_head.html.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		= Haml::Engine.new(File.read('dev/haml/_nav.html.haml')).render

		%main{:role => 'main'}

			= Haml::Engine.new(File.read('dev/haml/_sections.html.haml')).render

			= Haml::Engine.new(File.read('dev/haml/_footer.html.haml')).render