<nav class="Navigation">
  {% include 'components/Hamburger/Hamburger.html' %}

  <ul id="ProjectsMenu" class="ProjectsMenu">
    <li class="ProjectsMenuItem">
      <a href="#Intro" class="ProjectsMenuLink" title="Hello" data-scroll-action>
        <span class="ProjectsMenuTitle">Hello</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#PreservationSociety" class="ProjectsMenuLink" title="Northern Army Preservation Society of Canada." data-scroll-action>
        <span class="ProjectsMenuTitle">Preserve</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#BodyMindChange" class="ProjectsMenuLink" title="Body Mind Change" data-scroll-action>
        <span class="ProjectsMenuTitle">Body Mind Change</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#NorthernArmy"class="ProjectsMenuLink" title="Northern Army" data-scroll-action>
        <span class="ProjectsMenuTitle">Northern Army</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#Fringe" class="ProjectsMenuLink" title="Ottawa Fringe Festival" data-scroll-action>
        <span class="ProjectsMenuTitle">Ottawa Fringe</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#NorthNavy" class="ProjectsMenuLink" title="North and Navy" data-scroll-action>
        <span class="ProjectsMenuTitle">North &amp; Navy</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#NorthernArmy2012" class="ProjectsMenuLink" title="Northern Army 2012" data-scroll-action>
        <span class="ProjectsMenuTitle">NA 2012</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#Pukeko" class="ProjectsMenuLink" title="Pukeko" data-scroll-action>
        <span class="ProjectsMenuTitle">Pukeko Design</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#Chicken" class="ProjectsMenuLink" title="Chicken Farmers of Canada" data-scroll-action>
        <span class="ProjectsMenuTitle">Chicken Farmers</span>
      </a>
    </li>

    <li class="ProjectsMenuItem">
      <a href="#Northman" class="ProjectsMenuLink" title="Northman" data-scroll-action>
        <span class="ProjectsMenuTitle">Northman</span>
      </a>
    </li>
  </ul>
</nav>
