@import '../Hamburger/props';

$projects-menu-offset-safety: 0.2rem;
$projects-menu-item-shift-x: 0.3rem;

@function projects-menu-padding($x: 0, $y: 0) {
  $padding-right: ($x + $projects-menu-offset-safety + $projects-menu-item-shift-x);
  @return $y $padding-right $y $x;
}

$projects-count: 14;

$projects-menu-bottom: (get-spacing(tight) * 2) + ($hamburger-padding * 2) + $hamburger-height;
$projects-menu-bottom-desktop: (get-spacing() * 2) + ($hamburger-padding * 2) + $hamburger-height;

$projects-menu-title-padding: projects-menu-padding(1.6rem, 1rem);
$projects-menu-title-padding-tablet: projects-menu-padding(2rem, 1.2rem);
$projects-menu-title-padding-desktop: projects-menu-padding(2.2rem, 1.4rem);
