/////
/// Dulmage Theme
/// Color
////

$dulmage-color-data: (
  base: transparent,
  notification: (
    base: rgba(0, 0, 0, 1),
  ),
  intro: (
    beach: rgba(134, 160, 197, 1),
    flowers: rgba(140, 84, 193, 1),
    forest: rgba(139, 157, 47, 1),
    the-gut: rgba(106, 96, 25, 1),
    tropical: rgba(186, 64, 79, 1),
    xander: rgba(98, 79, 135, 1),
  ),
  project: (
    body-mind-change: rgba(255, 65, 0, 1),
    draggable: rgba(43, 11, 60, 1),
    chicken: rgba(248, 61, 74, 1),
    commerce-awards: rgba(156, 106, 222, 1),
    fringe: rgba(255, 90, 82, 1),
    northern-army: rgba(226, 172, 58, 1),
    northern-army-2012: rgba(235, 71, 71, 1),
    north-navy: rgba(21, 53, 91, 1),
    partners-academy: rgba(180, 180, 180, 1),
    polaris-styleguide: rgba(56, 80, 177, 1),
    preservation-society: rgba(255, 195, 12, 1),
  ),
);
