////
/// Dulmage Theme
/// Cursor
////

@import 'utilities/shared/functions';

// prettier-ignore
$dulmage-cursor-data: (
  base: #{asset-url('cursor-auto.png'), auto},
  text: #{asset-url('cursor-text.png'), text},
  pointer: (
    base: #{asset-url('cursor-pointer.png'), pointer},
    active: #{asset-url('cursor-pointer-clicked.png'), pointer},
  ),
  drag: (
    base: #{asset-url('cursor-drag.png'), auto},
    active: #{asset-url('cursor-drag-clicked.png'), auto},
  ),
  rock: (
    base: #{asset-url('cursor-rock.png'), pointer},
    active: #{asset-url('cursor-rock-clicked.png'), pointer},
  ),
);
