////
/// Dulmage Theme
/// Type Scale
////

$dulmage-type-scale-data: (
  base: 1rem,
  paragraph: (
    base: 1.4rem,
    desktop: 1.6rem,
  ),
  h1: (
    base: 3.2rem,
    tablet: 8rem,
  ),
  h2: (
    base: 2rem,
    tablet: 2.4rem,
  ),
  h3: (
    base: 1.2rem,
    tablet: 1.4rem,
  ),
  h4: (
    base: 1.8rem,
    tablet: 2rem,
  ),
  h5: (
    base: 7.2rem,
  ),
  subheading: (
    base: 2.2rem,
  ),
);
