////
/// Dulmage Theme
/// Z-Index
////

$dulmage-z-index-data: (
  base: 100,
  troposphere: 200,
  stratosphere: 300,
  mesosphere: 400,
  thermosphere: 500,
  exosphere: 600,
  outerspace: 999,
);
