@import 'utilities/shared/functions';

.Northman {
  background-image: asset-url('bg-northman.png');

  .ProjectLogo {
    width: 10rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 14.8rem;
    }
  }
}
