@import 'utilities/shared/layout';

.SvgSprites {
  @include visually-hidden;
}

a.SvgContainer {
  display: block;
  // color: black;
}

.SvgContainer {
  .Svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

.Svg {
  fill: currentColor;
}

@import 'variants';
