@import 'utilities/shared/functions';

.NorthernArmy2012 {
  background-image: asset-url('bg-northern-army-2012.png');

  .ProjectLogo {
    width: 16.1rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 22rem;
    }
  }
}
