@import 'utilities/shared/layout';
@import 'keyframes';
@import 'props';

.Hamburger {
  z-index: get-z-index(troposphere);
  position: fixed;
  bottom: get-spacing(tight);
  right: get-spacing(tight);
  margin-left: -$hamburger-offset;
  padding: $hamburger-padding;
  transition: transform get-duration() get-easing();

  &:focus,
  &:hover {
    transform: scale(1.125);
  }

  &:active {
    transform: scale(1);
  }

  // TODO: Better a11y styles
  // :-moz-focusring
  // :focus-visible

  @media only screen and (min-width: get-breakpoint(tablet)) {
    bottom: get-spacing();
    right: get-spacing();
  }
}

.HamburgerBun {
  position: relative;
  width: $hamburger-width;
  height: $hamburger-height;
}

.HamburgerPatty {
  position: absolute;
  left: 0;
  width: 100%;
  height: $hamburger-line-height;
  overflow: hidden;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  animation-duration: get-duration();
  animation-timing-function: get-easing();
  animation-fill-mode: both;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $hamburger-line-height;
    background-color: white;
    animation-duration: get-duration(slow);
    animation-timing-function: get-easing();
    animation-fill-mode: both;
  }
}

.HamburgerPatty--1,
.HamburgerPatty--3 {
  top: 0;

  &::before {
    animation-name: HamburgerPatty-EnterLeft;
  }
}

.HamburgerPatty--1 {
  transform: translateY(0) rotate(0);

  &::before {
    animation-delay: get-duration(fastest);
  }
}

.HamburgerPatty--2 {
  top: $hamburger-vertical-center;

  &::before {
    animation-name: HamburgerPatty-EnterRight;
    animation-delay: get-duration();
  }
}

.HamburgerPatty--3 {
  transform: translateY($hamburger-patty-3-y) rotate(0);

  &::before {
    animation-delay: get-duration(slow);
  }
}

[aria-expanded='true'] {
  .HamburgerPatty--1 {
    animation-name: HamburgerPatty1-Expanded;
  }

  .HamburgerPatty--2 {
    animation-name: HamburgerPatty2-Expanded;
  }

  .HamburgerPatty--3 {
    animation-name: HamburgerPatty3-Expanded;
  }
}

[aria-expanded='false'] {
  .HamburgerPatty--1 {
    animation-name: HamburgerPatty1-Collapsed;
  }

  .HamburgerPatty--2 {
    animation-name: HamburgerPatty2-Collapsed;
  }

  .HamburgerPatty--3 {
    animation-name: HamburgerPatty3-Collapsed;
  }
}
