@import 'props';

@keyframes HamburgerPatty-EnterLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes HamburgerPatty-EnterRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes HamburgerPatty1-Expanded {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY($hamburger-vertical-center) rotate(0);
  }

  100% {
    transform: translateY($hamburger-vertical-center) rotate(45deg);
  }
}

@keyframes HamburgerPatty1-Collapsed {
  0% {
    transform: translateY($hamburger-vertical-center) rotate(45deg);
  }

  50% {
    transform: translateY($hamburger-vertical-center) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes HamburgerPatty2-Expanded {
  0%,
  25% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes HamburgerPatty2-Collapsed {
  0%,
  25% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

@keyframes HamburgerPatty3-Expanded {
  0% {
    transform: translateY($hamburger-patty-3-y) rotate(0);
  }

  50% {
    transform: translateY($hamburger-vertical-center) rotate(0);
  }

  100% {
    transform: translateY($hamburger-vertical-center) rotate(-45deg);
  }
}

@keyframes HamburgerPatty3-Collapsed {
  0% {
    transform: translateY($hamburger-vertical-center) rotate(-45deg);
  }

  50% {
    transform: translateY($hamburger-vertical-center) rotate(0);
  }

  100% {
    transform: translateY($hamburger-patty-3-y) rotate(0);
  }
}
