////
/// Shared Utilities
/// Functions
////

// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Returns the url() function containing the path to the requested asset.
// @param {String} $filename - Filename including extension.
// @param {String} $media-type - Type of asset you want to fetch.
// @return {String} url() with path - example: url('path/to/requested-asset.ftw')
// stylelint-disable-next-line function-url-quotes
@function asset-url($filename, $media-type: image) {
  $accepted-media-types: (
    svg: 'svg',
    image: 'img',
    font: 'fonts',
  );

  $fetched-value: map-get($accepted-media-types, $media-type);

  @if $fetched-value and type-of($filename) == string {
    @return url('../#{$fetched-value}/#{$filename}');
  } @else {
    @error 'Media type `#{$media-type}` not found. Available types: #{available-names($accepted-media-types)}';
  }
}
