/* ==|== primary styles =======================================================
   Author: Northern Army
   ========================================================================= */

/*

dulmage		#eb4747		rgb(235,71,71)		hsl(0,80%,60%)

beach		#86a0c5		rgb(134,160,197)	hsl(215,35%,65%)
bridge		#6e916e		rgb(110,145,110)	hsl(120,14%,50%)
flowers		#8c54c1		rgb(140,84,193)		hsl(271,47%,54%)
forest		#bdbb38		rgb(189,187,56)		hsl(59,54%,48%)
thegut		#6a6019		rgb(106,96,25)		hsl(53,62%,26%)
tropical	#ba404f		rgb(186,64,79)		hsl(353,49%,49%)
worship		#cb4e4a		rgb(203,78,74)		hsl(2,55%,54%)

preserve	#ffc30c		rgb(255,195,12)		hsl(45,100%,52%)
bmc			#ff4100		rgb(255,65,0)		hsl(15,100%,50%)
fringe		#ff5a52		rgb(255,90,82)		hsl(3,100%,66%)
na2014		#e2ac3a		rgb(226,172,58)		hsl(41,74%,56%)
artscourt	#f86d29		rgb(248,109,41)		hsl(20,94%,57%)
na2012		#eb4747		rgb(235,71,71)		hsl(0,80%,60%)
pukeko		#373a86		rgb(55,58,134)		hsl(238,42%,37%)
chicken		#49c88e		rgb(73,200,142)		hsl(153,54%,54%)
cfc			#c06a1e		rgb(192,106,30)		hsl(28,73%,44%)
bryston		#3994db		rgb(57,148,219)		hsl(206,69%,54%)

*/

/* Foundation
---------------------------------------------------------------------------- */
html {
	font-family: 'brandon-grotesque', 'Brandon Grotesque', Futura, 'Trebuchet MS', Arial, sans-serif;
	overflow-y: visible;
}
body {
	position: relative;
}
::-moz-selection {
	background: rgba(0,0,0,0.8);
	color: rgb(255,255,255);
}
::selection {
	background: rgba(0,0,0,0.8);
	color: rgb(255,255,255);
}

/* Transitions
---------------------------------------------------------------------------- */
body aside {
	transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}
nav a.nav_toggle {
	transition: transform 0.2s ease-in-out;
}
nav a.nav_toggle div.line {
	transition: all 0.3s ease-in-out;
}
nav ul li.link_dulmage {
	transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out;
}
nav ul li.link_preserve {
	transition: transform 0.3s ease-in-out 0.02s, z-index 0.2s ease-in-out;
}
nav ul li.link_bmc {
	transition: transform 0.3s ease-in-out 0.04s, z-index 0.2s ease-in-out;
}
nav ul li.link_fringe {
	transition: transform 0.3s ease-in-out 0.06s, z-index 0.2s ease-in-out;
}
nav ul li.link_na2014 {
	transition: transform 0.3s ease-in-out 0.08s, z-index 0.2s ease-in-out;
}
nav ul li.link_artscourt {
	transition: transform 0.3s ease-in-out 0.1s, z-index 0.2s ease-in-out;
}
nav ul li.link_na2012 {
	transition: transform 0.3s ease-in-out 0.12s, z-index 0.2s ease-in-out;
}
nav ul li.link_pukeko {
	transition: transform 0.3s ease-in-out 0.14s, z-index 0.2s ease-in-out;
}
nav ul li.link_chicken {
	transition: transform 0.3s ease-in-out 0.16s, z-index 0.2s ease-in-out;
}
nav ul li.link_cfc {
	transition: transform 0.3s ease-in-out 0.18s, z-index 0.2s ease-in-out;
}
nav ul li.link_bryston {
	transition: transform 0.3s ease-in-out 0.2s, z-index 0.2s ease-in-out;
}
nav ul li a {
	transition: transform 0.2s ease-in-out;
}
nav ul li a span {
	transition: background-color 0.2s ease-in-out;
}
section {
	transition: height 0.2s ease-in-out;
}
a.contact {
	transition: opacity 0.2s ease-in-out;
}

/* Image Loader
---------------------------------------------------------------------------- */
@keyframes colorWheel {
/*
	0% {
		background-color: rgb(235,55,20);
	}
	100% {
		background-color: rgb(235,71,71);
	}
*/

	0% {
		background-color: rgb(235,55,20);
	}
/*
	50% {
		background-color: rgb(236,160,27);
	}
*/
	100% {
		background-color: rgb(235,75,20);
	}

}
aside {
	position: fixed;
	z-index: 4000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(235,55,20);
	opacity: 0;
	visibility: hidden;
	animation: colorWheel 2s ease-in-out infinite alternate;
}
aside div.load-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
aside div.load-wrap p {
	font-size: 3.2rem;
	font-weight: 900;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
}
aside div.load-wrap span {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
}
/* + loading / loaded + */
html.loading {
	overflow-y: hidden;
}
html.loading aside {
	opacity: 1;
	visibility: visible;
}

/* General Styles
---------------------------------------------------------------------------- */
main {
	position: sticky; // required for custom touch events to behave properly in iOS
}
section {
	display: table;
	table-layout: fixed;
	position: relative;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
article {
	display: table-cell;
	vertical-align: middle;
}

/* Navigation
---------------------------------------------------------------------------- */
/* --- Nav Toggle --- */
nav a.nav_toggle {
	display: block;
	position: fixed;
	z-index: 2000;
	bottom: 2rem;
	right: 2rem;
	width: 3.2rem;
	height: 2rem;
}
nav a.nav_toggle div.line {
	position: absolute;
	left: 0;
	width: 3.2rem;
	height: 0.2rem;
	background: rgba(255,255,255,0.9);
}
nav a.nav_toggle div.line.one {
	top: 0;
}
nav a.nav_toggle div.line.two {
	top: 0.9rem;
}
nav a.nav_toggle div.line.three {
	top: 1.8rem;
}
/* + nav toggle interaction + */
nav a.nav_toggle:hover {
	transform: scale(1.1);
}
nav a.nav_toggle.active div.line.one {
	top: 0.9rem;
	transform: rotate(-45deg);
}
nav a.nav_toggle.active div.line.two {
	opacity: 0;
	transform: scale(0.2);
}
nav a.nav_toggle.active div.line.three {
	top: 0.9rem;
	transform: rotate(45deg);
}
nav a.nav_toggle.active + ul {
	width: auto;
}
nav a.nav_toggle.active + ul li {
	transform: translateX(1%);
}
/* --- Nav List --- */
nav ul {
	position: fixed;
	z-index: 2001;
	bottom: 8rem;
	right: 0;
	width: 0;
	text-align: right;
}
nav ul li {
	float: right;
	clear: both;
	transform: translateX(125%);
	position: relative;
	z-index: 2003;
}
nav ul li a {
	display: block;
	position: relative;
	transform-origin: center right;
}
nav ul li a span {
	display: block;
	padding: 1rem 1.8rem 1rem 1.6rem;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	white-space: nowrap;
	color: inherit;
	background-color: rgba(255,255,255,0);
}
/* + interaction + */
nav ul li:hover {
	z-index: 3003;
}
nav ul li a:hover {
	transform: scale(1.2);
}
nav ul li a:hover span {
	background-color: rgba(255,255,255,0.6);
}
nav ul li a:active {
	transform: scale(1.1);
}
/* + current nav item + */
nav ul li.current {
	z-index: 3003;
}
nav ul li.current a {
	transform: scale(1.2);
}
nav ul li.current a span {
	background-color: rgba(255,255,255,0.6);
}

/* Project Content
---------------------------------------------------------------------------- */
div.project_content h1,
div.project_content h2,
div.project_content h3,
div.project_content h4 {
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,0.95);
}
div.project_content h1 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	font-weight: 900;
	letter-spacing: 0.8rem;
}
div.project_content h2 {
	font-size: 2rem;
	letter-spacing: 0.2rem;
}
div.project_content h3 {
	margin-bottom: 1rem;
	font-weight: 900;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}
div.project_content h4 {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	line-height: 1.1;
}
div.project_content h4 + h3 {
	margin-top: 3.2rem;
}

/* Project Logo
---------------------------------------------------------------------------- */
a.project_logo {
	position: relative;
	z-index: 1001;
}
a.project_logo svg {
	display: block;
	width: 100%;
	height: 100%;
}
a.project_logo {
	display: block;
	margin: 0 auto 5.2rem auto;
}
a.project_logo svg {
	fill: rgba(255,255,255,0.94);
}
/* --- Project Overlay --- */
div.project_overlay {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	visibility: hidden;
}
div.project_overlay h5 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 56rem;
	height: 20rem;
	font-size: 7.2rem;
	font-weight: 700;
	letter-spacing: 0.8rem;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: rgb(255,255,255);
	transform: scale(0.8);
}


/* ==|== intro / projects =====================================================
   ========================================================================= */

/* Intro Section
---------------------------------------------------------------------------- */
/* --- Mail Me --- */
a.contact {
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255,255,255,0.9);
}
a.contact:active {
	opacity: 0.8;
}
a.contact svg.svg_mail {
	width: 4.4rem;
	height: 4.4rem;
	fill: rgba(255,255,255,0.9);
}
a.contact p.mailme {
	display: none;
	position: absolute;
	top: 1rem;
	left: 4.4rem;
	padding-left: 2rem;
	max-width: 0rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
}

/* Projects Section
---------------------------------------------------------------------------- */
/* --- Preserve --- */
section.project_preserve {
	background-image: url('../img/preserve.png');
}
section.project_preserve a.project_logo {
	width: 12rem;
	height: 12.8rem;
}
/* --- BMC --- */
section.project_bmc {
	background-image: url('../img/bmc.png');
}
section.project_bmc a.project_logo {
	width: 18rem;
	height: 8.8rem;
}
/* --- Fringe --- */
section.project_fringe {
	background-image: url('../img/fringe.png');
}
section.project_fringe a.project_logo {
	width: 20rem;
	height: 11.1rem;
}
/* --- NA 2014 & 2012 --- */
section.project_na2014 {
	background-image: url('../img/na2014.png');
}
section.project_na2012 {
	background-image: url('../img/na2012.png');
}
section.project_na2014 a.project_logo,
section.project_na2012 a.project_logo {
	width: 16.1rem;
	height: 8.4rem;
}
/* --- Arts Court --- */
section.project_artscourt {
	background-image: url('../img/artscourt.png');
}
section.project_artscourt a.project_logo {
	width: 11rem;
	height: 10rem;
}
/* --- Pukeko --- */
section.project_pukeko {
	background-image: url('../img/pukeko.png');
}
section.project_pukeko a.project_logo {
	width: 12.1rem;
	height: 13.7rem;
}
/* --- Chicken & CFC --- */
section.project_chicken {
	background-image: url('../img/chicken.png');
}
section.project_cfc {
	background-image: url('../img/cfc.png');
}
section.project_chicken a.project_logo,
section.project_cfc a.project_logo {
	width: 13rem;
	height: 10rem;
}
/* --- Bryston --- */
section.project_bryston {
	background-image: url('../img/bryston.png');
}
section.project_bryston a.project_logo {
	width: 14rem;
	height: 6.4rem;
}