/* ==|== media queries ========================================================
   WIDTHS: 480px / 568px / 768px / 980px
   ========================================================================= */

@media only screen and (max-width: 35.5em) and (orientation: landscape) { /* 568px / 16px = 35.5em */

/* ==|== primary styles =======================================================
   ========================================================================= */

	/* Navigation
	---------------------------------------------------------------------------- */
	nav {
		display: none;
		visibility: hidden;
	}

	/* Project Content
	---------------------------------------------------------------------------- */
	article:not(.intro) div.project_content {
		display: none;
		visibility: hidden;
	}
	div.project_content h2 {
		margin-bottom: 3.2rem;
	}

	/* Project Logo
	---------------------------------------------------------------------------- */
	a.project_logo {
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 48em) { /* 768px / 16px = 48em */

/* ==|== primary styles =======================================================
   ========================================================================= */

	/* Transitions
	---------------------------------------------------------------------------- */
	div.project_overlay {
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}
	a.project_logo svg,
	div.project_content h3,
	div.project_content h4,
	div.project_overlay h5 {
		transition: all 0.3s ease-in-out;
		backface-visibility: hidden;
	}
	a.contact p.mailme {
		transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}

	/* Navigation
	---------------------------------------------------------------------------- */
	/* --- Nav Toggle --- */
	nav a.nav_toggle {
		bottom: 3.2rem;
		right: 3.2rem;
	}
	/* --- Nav List --- */
	nav ul {
		bottom: 9rem;
	}
	nav ul li a span {
		padding: 1.2rem 2.2rem 1.2rem 2rem;
	}

	/* Project Content
	---------------------------------------------------------------------------- */
	div.project_content h1 {
		margin-bottom: 6rem;
		font-size: 8rem;
		letter-spacing: 3rem;
	}
	div.project_content h2 {
		font-size: 2.4rem;
		letter-spacing: 0.4rem;
	}
	div.project_content h3 {
		font-size: 1.4rem;
		letter-spacing: 0.2rem;
	}
	div.project_content h4 {
		font-size: 2rem;
		letter-spacing: 0.3rem;
	}
	div.project_content h4 + h3 {
		margin-top: 4rem;
	}
	div.project_content h3,
	div.project_content h4 {
		filter: blur(0px);
	}

	/* Project Logo
	---------------------------------------------------------------------------- */
	a.project_logo {
		margin-bottom: 7.2rem;
	}
	/* + hover state + */
	a.project_logo:hover svg {
		opacity: 0.7;
		filter: blur(2px);
	}
	a.project_logo:hover + div.project_content h3,
	a.project_logo:hover + div.project_content h4 {
		filter: blur(1px);
	}
	a.project_logo:hover ~ div.project_overlay {
		opacity: 1;
		visibility: visible;
	}
	a.project_logo:hover ~ div.project_overlay h5 {
		transform: scale(1);
	}
	/* + active state + */
	a.project_logo:active ~ div.project_overlay {
		opacity: 0.8;
	}
	a.project_logo:active ~ div.project_overlay h5 {
		transform: scale(0.9);
	}
	a.project_logo:active svg {
		opacity: 0.8;
		filter: blur(1px);
	}
	a.project_logo:active + div.project_content h3,
	a.project_logo:active + div.project_content h4 {
		filter: blur(0.5px);
	}
	/* --- Project Overlay --- */
	div.project_overlay {
		display: block;
	}

	/* ==|== intro / projects =====================================================
	   ========================================================================= */

	/* Intro Section
	---------------------------------------------------------------------------- */
	/* --- Mail Me --- */
	a.contact {
		bottom: 3.2rem;
		left: 3.2rem;
		transform: translateX(0);
	}
	a.contact p.mailme {
		display: block;
	}
	a.contact:hover p.mailme {
		max-width: 12rem;
		opacity: 1;
	}

	/* Projects Section
	---------------------------------------------------------------------------- */
	/* --- Preserve --- */
	section.project_preserve a.project_logo {
		width: 17rem;
		height: 18.2rem;
	}
	/* --- BMC --- */
	section.project_bmc a.project_logo {
		width: 24rem;
		height: 11.7rem;
	}
	/* --- Fringe --- */
	section.project_fringe a.project_logo {
		width: 26rem;
		height: 14.5rem;
	}
	/* --- NA 2014 & 2012 --- */
	section.project_na2014 a.project_logo,
	section.project_na2012 a.project_logo {
		width: 22rem;
		height: 11.6rem;
	}
	/* --- Arts Court --- */
	section.project_artscourt a.project_logo {
		width: 15.2rem;
		height: 13.8rem;
	}
	/* --- Pukeko --- */
	section.project_pukeko a.project_logo {
		width: 15.6rem;
		height: 17.8rem;
	}
	/* --- Chicken & CFC --- */
	section.project_chicken a.project_logo,
	section.project_cfc a.project_logo {
		width: 17.6rem;
		height: 13.6rem;
	}
	/* --- Bryston --- */
	section.project_bryston a.project_logo {
		width: 19.2rem;
		height: 8.8rem;
	}

}

@media only screen and (min-width: 48em) and (min-height: 43.75em) { /* 768px / 16px = 48em | 700px / 16px = 43.75em */

/* ==|== primary styles =======================================================
   ========================================================================= */

	/* Project Content
	---------------------------------------------------------------------------- */
	article.intro div.project_content {
		margin-top: -3.2rem;
	}
	div.project_content {
		z-index: 10;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
	}

}