// SASS Variables
// ----------------------------------------------------------------------------
$hsl_red:      hsl(0,80%,60%);
$hsl_L0:       hsl(0,0%,0%);
$hsl_L4:       hsl(0,0%,4%);
$hsl_L6:       hsl(0,0%,6%);
$hsl_L100:     hsl(0,0%,100%);

$hsla_L0-60:   hsla(0,0%,0%,0.6);
$hsla_L4-0:    hsla(0,0%,4%,0);
$hsla_L100-0:  hsla(0,0%,100%,0);
$hsla_L100-70: hsla(0,0%,100%,0.8);
$hsla_L100-80: hsla(0,0%,100%,0.8);
$hsla_L100-85: hsla(0,0%,100%,0.85);
$hsla_L100-90: hsla(0,0%,100%,0.9);
$hsla_L100-94: hsla(0,0%,100%,0.94);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';