@import 'utilities/shared/functions';

.Draggable {
  background-image: asset-url('bg-draggable.png');

  // Consistent with other instances of the Shopify logo
  .ProjectLogo {
    width: 10rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 14rem;
    }
  }
}
