@import 'utilities/shared/layout';
@import 'props';

.Contact {
  z-index: get-z-index();
  position: absolute;
  bottom: get-spacing(tight);
  left: get-spacing(tight);
  display: block;
  transition: transform get-duration() get-easing();

  &:active {
    transform: scale(0.95);
  }

  // TODO: Better a11y styles
  // :-moz-focusring
  // :focus-visible

  @media only screen and (min-width: get-breakpoint(tablet)) {
    bottom: get-spacing();
    left: get-spacing();
  }
}

///
/// Email Contact

.UiMail {
  width: $ui-mail-size;
  height: $ui-mail-size;
}

.UiMailPath {
  stroke: white;
  animation: svg-trace-stroke $ui-mail-path-duration get-easing() forwards;
}

.UiMailPath--inside {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation-delay: get-duration();
}

.UiMailPath--outside {
  stroke-dasharray: 134;
  stroke-dashoffset: 134;
  animation-delay: get-duration(faster);
}

.ContactLabelContainer {
  @include visible(false);
  position: absolute;
  top: get-spacing(tighter);
  left: $ui-mail-size + get-spacing(tightest);
  max-width: 0;
  overflow: hidden;
  transition-property: opacity, visibility, max-width;
  transition-duration: get-duration();
  transition-timing-function: get-easing();

  .Contact:focus &,
  .Contact:hover & {
    @include visible;
    max-width: 12rem;
  }
}

.ContactLabel {
  display: block;
  font-size: get-type-scale(h4);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  color: white;
}
