---
interface ItemDescriptor {
  id: string;
  name: string;
  description: string;
  // Not using a `current` prop as we need to calculate the
  // current item via a `script` instead of `frontmatter`.
  // current?: boolean;
  // class:list={['Link', {current: item.current}]}
}

interface Props {
  id: string;
  items?: ItemDescriptor[];
}

const {id, items = []} = Astro.props;
---

<nav class="Navigation">
  <slot />

  <ul id={id} class="List" aria-hidden="true">
    {
      items.map((item, index) => (
        <li class="Item" style={{'--nav-item-index': index}}>
          <a
            href={`#${item.id}`}
            class="Link"
            title={item.description}
            data-scroll-action
          >
            <span class="Label">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @import '@styles/shared.css';

  :root {
    --nav-offset-safety: 0.2rem;
    --nav-item-shift-x: 0.3rem;

    --nav-list-bottom: calc(
      var(--space-tight) * 2 + var(--hamburger-padding) * 2 +
        var(--hamburger-height)
    );

    --nav-label-padding-y: 1rem;
    --nav-label-padding-left: 1.6rem;
    --nav-label-padding-right: calc(
      var(--nav-label-padding-left) + var(--nav-offset-safety) +
        var(--nav-item-shift-x)
    );

    @media (--min-tablet) {
      --nav-list-bottom: calc(
        var(--space) * 2 + var(--hamburger-padding) * 2 +
          var(--hamburger-height)
      );
      --nav-label-padding-y: 1.2rem;
      --nav-label-padding-left: 2rem;
    }

    @media (--min-desktop) {
      --nav-label-padding-y: 1.4rem;
      --nav-label-padding-left: 2.2rem;
    }
  }

  /*
    Navigation will get cut off if the document height is too short,
    so its best to just hide it.
  */
  .Navigation {
    @media (--max-phone-height) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .List {
    position: fixed;
    /* 1 above the Intro content */
    z-index: calc(var(--index-thermosphere) + 1);
    bottom: var(--nav-list-bottom);
    right: 0;

    &[aria-hidden='false'] {
      width: auto;
    }

    &[aria-hidden='true'] {
      width: 0;
    }
  }

  .Item {
    float: right;
    clear: both;
    transition: translate var(--speed) var(--ease);
    /* Stagger animation offset */
    transition-delay: calc(var(--speed-fastest) * var(--nav-item-index));
  }

  .List[aria-hidden='false'] .Item {
    translate: calc(var(--nav-item-shift-x) + var(--nav-offset-safety)) 0;
  }

  .List[aria-hidden='true'] .Item {
    translate: calc(100% + var(--nav-item-shift-x) + var(--nav-offset-safety)) 0;
  }

  .Link {
    position: relative;
    display: block;
    color: var(--color-portfolio);
    background-color: var(--color-portfolio);
    transition: translate var(--speed) var(--ease);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      background-color: var(--color-primary);
      opacity: 0.9;
      transition: opacity var(--speed) var(--ease);
      pointer-events: none;
    }

    &:focus,
    &:hover {
      translate: calc(var(--nav-item-shift-x) * -1) 0;
    }

    &:focus::before,
    &:hover::before {
      opacity: 1;
    }

    &:active {
      translate: 0 0;
    }

    &:active::before {
      opacity: 0.9;
    }
  }

  .Label {
    position: relative;
    display: block;
    padding-top: var(--nav-label-padding-y);
    padding-right: var(--nav-label-padding-right);
    padding-bottom: var(--nav-label-padding-y);
    padding-left: var(--nav-label-padding-left);
    font-size: var(--p-size);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    white-space: nowrap;
    /* Required for the `horns` cursor to work. */
    pointer-events: none;
  }

  /* --- Active Item iteration --- */

  .Item[data-current] .Link {
    cursor: url('../assets/svg/cursors/CursorHorns.svg'), not-allowed;
    color: var(--color-primary);
    translate: calc(var(--nav-item-shift-x) * -1) 0;

    &:active {
      cursor: url('../assets/svg/cursors/CursorHornsClicked.svg'), not-allowed;
    }

    &::before {
      opacity: 0;
    }
  }
</style>
