---
import {Icon} from 'astro-icon/components';
import {type ProjectEntry} from '@data/types';

interface Props {
  logo: ProjectEntry['logo'];
  name?: ProjectEntry['name'];
  url?: ProjectEntry['url'];
}

// No need to strongly type `logo`, because `astro-icon` will fail the
// build if it cannot find the SVG asset.
const {logo, name = '', url = ''} = Astro.props;
const isLink = Boolean(url && name);

const iconProps = {
  name: `logos/${logo}`,
  // `astro-icon` appends a `width/height` prop, which we do not want.
  // There should be a way to do this via SVGO.
  width: undefined,
  height: undefined,
};
---

{
  isLink ? (
    <a
      href={url}
      class="focus-ring ProjectLogo"
      title={`Visit Project: ${name}`}
      target="_blank"
      rel="noopener noreferrer"
      data-overlay-action
    >
      <Icon {...iconProps} />
      <slot />
    </a>
  ) : (
    <div class="ProjectLogo">
      <Icon {...iconProps} />
      <slot />
    </div>
  )
}

<style>
  @import '@styles/shared.css';

  :root {
    --project-logo-size: 18rem;

    @media (--max-phone-height) {
      --project-logo-size: 16rem;
    }

    @media (--min-tablet) {
      --project-logo-size: 24rem;
    }
  }

  .ProjectLogo {
    width: var(--project-logo-size);
    color: var(--color-primary);
  }

  a.ProjectLogo {
    display: block;
  }

  div.ProjectLogo {
    cursor: url('../assets/img/cursor-dead.png'), not-allowed;
  }

  .ProjectLogo > [data-icon] {
    width: 100%;
    height: 100%;
    overflow: visible;
    fill: currentColor;
  }

  /* Unique logo sizes per section id */

  :global(#Chicken),
  :global(#PreservationSociety) {
    --project-logo-size: 14rem;

    @media (--max-phone-height) {
      --project-logo-size: 12rem;
    }

    @media (--min-tablet) {
      --project-logo-size: 20rem;
    }
  }

  :global(#Earwurm),
  :global(#CommerceAwards),
  :global(#Polaris) {
    --project-logo-size: 12rem;

    @media (--max-phone-height) {
      --project-logo-size: 10rem;
    }

    @media (--min-tablet) {
      --project-logo-size: 18rem;
    }
  }

  :global(#Draggable),
  :global(#NA2012),
  :global(#NorthernArmy) {
    --project-logo-size: 16rem;

    @media (--max-phone-height) {
      --project-logo-size: 14rem;
    }

    @media (--min-tablet) {
      --project-logo-size: 22rem;
    }
  }

  :global(#Fringe),
  :global(#Tetchi) {
    --project-logo-size: 20rem;

    @media (--max-phone-height) {
      --project-logo-size: 18rem;
    }

    @media (--min-tablet) {
      --project-logo-size: 26rem;
    }
  }
</style>
