@import 'utilities/shared/functions';

.NorthNavy {
  background-image: asset-url('bg-north-navy.png');

  .ProjectLogo {
    width: 16rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 22rem;
    }
  }
}
