@import 'utilities/shared/functions';

.NorthernArmy {
  background-image: asset-url('bg-northern-army.png');

  // Consistent with other instances of the NA logo
  .ProjectLogo {
    width: 16rem;

    @media only screen and (min-width: get-breakpoint(tablet)) {
      width: 22rem;
    }
  }
}
