---
import {type SectionEntry} from '@data/types';

interface Props {
  id: SectionEntry['id'];
  thumbnail: SectionEntry['thumbnail'];
}

const {id, thumbnail} = Astro.props;
---

<header id={id} class="section" style={{backgroundImage: `url(${thumbnail})`}}>
  <article class="section-interior">
    <div class="Content">
      <h1 class="heading heading--1">Dulmage</h1>

      <div class="Details">
        <h2 class="heading heading--2">UX Developer</h2>
        <h2 class="heading heading--2">Ottawa, ON</h2>
      </div>

      <p class="heading heading--3 visually-hidden">
        Background image photographed by: Curtis Dulmage
      </p>

      <p class="paragraph visually-hidden preload-cursors">
        <b>Curtis Dulmage.</b>
        <u>Front end web developer.</u>
        <i>Ottawa, Canada.</i>
        <strong>Here are a few of my most recent projects.</strong>
        <em>Please get in touch if you have any questions. Thank you.</em>
      </p>
    </div>
  </article>
</header>

<style>
  @import '@styles/shared.css';

  :root {
    --intro-detail-before: none;
  }

  .Content {
    display: grid;
    place-items: center;
    place-content: center;
    gap: var(--space-tighter);

    @media (--min-tablet) {
      gap: var(--space);
    }

    /* Page load (fade-in) */
    position: relative;
    z-index: var(--index-thermosphere);
    animation: fadeIn var(--speed-slower) var(--speed-slow) var(--ease) both;
  }

  .Details {
    display: grid;
    gap: var(--space-tightest);

    & > h2 + h2::before {
      content: var(--intro-detail-before);
    }

    @media (--min-tablet) {
      --intro-detail-before: '\002F\0020';
      grid-auto-flow: column;
    }
  }
</style>
