%head

	%meta{:charset => "utf-8"}
	%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

	%title curtis dulmage | ottawa front end developer

	%meta{:name => "description", :content => "front-end wizard. css sensation. developer extraordinaire. all of which are only partially true."}
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui"}

	%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
	%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}

	%link{:rel => "stylesheet", :href => "assets/css/styles.min.css?v=2"}

	%script
		= Haml::Engine.new(File.read("dev/haml/partials/_js_fonts.haml")).render