%nav

	%a#nav_toggle{:href => '#', :title => 'Toggle Navigation'}
		.one
		.two
		.three

	%ul

		%li{'data-anchor' => 'dulmage'}
			%a.link_anchor{:href => '#intro_dulmage', :title => 'Hello', 'data-scroll' => true}
				%span Hello

		%li{'data-anchor' => 'preserve'}
			%a.link_anchor{:href => '#project_preserve', :title => 'Preserve.', 'data-scroll' => true}
				%span Preserve.

		%li{'data-anchor' => 'bmc'}
			%a.link_anchor{:href => '#project_bmc', :title => 'Body. Mind. Change.', 'data-scroll' => true}
				%span Body. Mind. Change.

		%li{'data-anchor' => 'na2014'}
			%a.link_anchor{:href => '#project_na2014', :title => 'NA 2014', 'data-scroll' => true}
				%span NA 2014

		%li{'data-anchor' => 'fringe'}
			%a.link_anchor{:href => '#project_fringe', :title => 'Ottawa Fringe', 'data-scroll' => true}
				%span Ottawa Fringe

		%li{'data-anchor' => 'cfc'}
			%a.link_anchor{:href => '#project_cfc', :title => 'Chicken Farmers', 'data-scroll' => true}
				%span Chicken Farmers

		%li{'data-anchor' => 'na2012'}
			%a.link_anchor{:href => '#project_na2012', :title => 'NA 2012', 'data-scroll' => true}
				%span NA 2012

		%li{'data-anchor' => 'pukeko'}
			%a.link_anchor{:href => '#project_pukeko', :title => 'Pukeko', 'data-scroll' => true}
				%span Pukeko Design

		%li{'data-anchor' => 'artscourt'}
			%a.link_anchor{:href => '#project_artscourt', :title => 'Arts Court', 'data-scroll' => true}
				%span Arts Court

		%li{'data-anchor' => 'efc'}
			%a.link_anchor{:href => '#project_efc', :title => 'Egg Farmers', 'data-scroll' => true}
				%span Egg Farmers

		%li{'data-anchor' => 'bryston'}
			%a.link_anchor{:href => '#project_bryston', :title => 'Bryston', 'data-scroll' => true}
				%span Bryston