%section#project_preserve.project_preserve.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://preserve.northernarmy.com/", :title => "Preserve.", :target => "_blank"}
			%svg.logo_preserve{:viewBox => "0 0 280 300"}
				%use{"xlink:href" => "#logo_preserve"}

		.project_content

			%h3 Inhouse Project
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_bmc.project_bmc.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://bodymindchange.ca/", :title => "Body. Mind. Change.", :target => "_blank"}
			%svg.logo_bmc{:viewBox => "0 0 280 137"}
				%use{"xlink:href" => "#logo_bmc"}

		.project_content

			%h3 Client
			%h4 TIFF / CFC Media Lab / David Cronenberg

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_na2014.project_na2014.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://northernarmy.com/", :title => "Northern Army 2014", :target => "_blank"}
			%svg.logo_na{:viewBox => "0 0 280 147"}
				%use{"xlink:href" => "#logo_na"}

		.project_content

			%h3 Inhouse Project
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army 2014", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_fringe.project_fringe.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://ottawafringe.com/", :title => "Ottawa Fringe Festival", :target => "_blank"}
			%svg.logo_fringe{:viewBox => "0 0 280 156"}
				%use{"xlink:href" => "#logo_fringe"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://ottawafringe.com/", :title => "Ottawa Fringe Festival", :target => "_blank"} Ottawa Fringe Festival

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

			%h3 Ecommerce Development
			%h4 James Beninger

		.project_overlay
			%h5 View Project

%section#project_northnavy.project_northnavy.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://northandnavy.com/", :title => "North & Navy", :target => "_blank"}
			%svg.logo_northnavy{:viewBox => "0 0 280 228"}
				%use{"xlink:href" => "#logo_northnavy"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://northandnavy.com/", :title => "North & Navy", :target => "_blank"} North &amp; Navy

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_na2012.project_na2012.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://na-2012.armystage.com/", :title => "Northern Army 2012", :target => "_blank"}
			%svg.logo_na{:viewBox => "0 0 280 147"}
				%use{"xlink:href" => "#logo_na"}

		.project_content

			%h3 Inhouse Project
			%h4
				%a{:href => "http://na-2012.armystage.com/", :title => "Northern Army 2012", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_pukeko.project_pukeko.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://pukekodesign.ca/", :title => "Pukeko Design", :target => "_blank"}
			%svg.logo_pukeko{:viewBox => "0 0 280 319"}
				%use{"xlink:href" => "#logo_pukeko"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://pukekodesign.ca/", :title => "Pukeko Design", :target => "_blank"} Pukeko Design

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_cfc.project_cfc.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://www.chickenfarmers.ca/", :title => "Chicken Farmers of Canada", :target => "_blank"}
			%svg.logo_chicken{:viewBox => "0 0 280 217"}
				%use{"xlink:href" => "#logo_chicken"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://www.chickenfarmers.ca/", :title => "Chicken Farmers of Canada", :target => "_blank"} Chicken Farmers of Canada

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

		.project_overlay
			%h5 View Project

%section#project_northman.project_northman.section_project

	%article.project

		%a.project_logo.wrap_svg{:href => "http://northman.co/", :title => "Northman", :target => "_blank"}
			%svg.logo_northman{:viewBox => "0 0 280 280"}
				%use{"xlink:href" => "#logo_northman"}

		.project_content

			%h3 Client
			%h4
				%a{:href => "http://northman.co/", :title => "Northman", :target => "_blank"} Northman

			%h3 Agency
			%h4
				%a{:href => "http://northernarmy.com/", :title => "Northern Army", :target => "_blank"} Northern Army

			%h3 Ecommerce / Quote Development
			%h4 Matt McParland

		.project_overlay
			%h5 View Project